<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button>
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center ion-justify-content-center">
      <ion-img src="https://pbs.twimg.com/profile_images/1213179651851350017/amNi39Po_400x400.jpg"></ion-img>
      <ion-card-title>Dhammajoti</ion-card-title>
      <ion-card-subtitle>00000026274 - CL</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-card-subtitle>
        Dalam project kali ini saya tidak menggunakan library dari luar dan saya mengerjakan sendiri
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
